<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Quick Quotes</title>
</head>
<body>

    <div class="box">
        <div class="quotesBox" data-aos="zoom-in">

            <div class="quotesIcon">
                <i class="fas fa-quote-left"></i>
            </div>

            <div class="tweetMe">
                <i class="fab fa-twitter"></i>
            </div>

            <p id="quote">Don't Let The Anxiety Take over your voice</p>
            <p id="author">By Puneet Kumar Sharma</p>

            <button id="newQuote">New Quote</button>
        </div>
    </div>
    
    <script src="../static/index.js"></script>
    <script src="https://kit.fontawesome.com/c51bbf4f1c.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
       AOS.init();
    </script>
</body>
</html>